# Emacs, vim etc
*~
*.swp

# Start of IntelliJ IDE files
.idea
.idea/*
*.iml
*.ipr
*.iws
# End of IntelliJ IDE files

/build/
*.class
*.pyc
*.pyo
target

# MacOS File
.DS_Store

# Start of Eclipse IDE files
.project
.classpath
.settings
.cproject
eclipse-classes
.pydevproject
# End of Eclipse IDE files

